@import "../../styles/vars.css";

@keyframes bounce {
  50% {
    background-color: $color-primary;
  }
}

.box {
  margin: auto;
  z-index: 100;
  position: fixed;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.i {
  background-color: transparent;
  height: 30px;
  margin-left: 15px;
  width: 30px;
  animation: bounce 1.12s normal infinite;
  border-radius: 20px;
}

.i1 {
  composes: i;
  animation-delay: 225ms;
}

.i2 {
  composes: i;
  animation-delay: 525ms;
}

.i3 {
  composes: i;
  animation-delay: 675ms;
}
