@import "../../styles/vars.css";

.box {
  width: 100%;
  min-width: calc($mobile-width - 30px);
  padding: 10px 50px 25px;
  background-color: $color-background;
  border-radius: 8px;
  position: relative;
}

.btns {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: end;
}

.inputs {
  position: relative;
}

.file {
  color: $color-primary;
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.file:hover,
.file:focus {
  color: $color-success;
}

@media (max-width: $mobile-width) {
  .box {
    min-width: calc(100vw - 30px);
  }
}
