{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17.0.0"
    }
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "config/",
    "scripts/"
  ],
  "rules": {
    "react/jsx-key": "error",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": [
          "spellcheck"
        ]
      }
    ],
    "linebreak-style": "off",
    "no-trailing-spaces": "error",
    "no-use-before-define": "error",
    "no-unused-vars": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ]
  }
}
