@import '../../../styles/vars.css';

.list {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

.item {
  position: relative;
  padding: 2px 0;
}

.btn {
  cursor: pointer;
  white-space: nowrap;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.btn:hover,
.active {
  color: $color-success;
}

.active::before {
  content: url("data:image/svg+xml,%3Csvg fill='%23428359' viewBox='0 0 100 100' width='6' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50'/%3E%3C/svg%3E");
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 2px;
  left: -11px;
}
