@import "../../../styles/vars.css";

$font-size: 0.85em;

.list {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

.item {
  position: relative;
  padding: 2px 0;
}

.btn {
  font-size: $font-size;
  border-bottom: 1px solid transparent;
}

.btn:hover,
.btn:focus,
.active {
  color: $color-success;
  border-bottom-color: $color-success;
}

.link {
  font-size: $font-size;
  color: $color-primary;
  display: block;
  border-top: $decorate-border;
  margin-top: 5px;
  padding-top: 5px;
  cursor: alias;
}
