.btn {
  font-size: 1em;
  padding: .3em 1.3em;
  border-radius: 50px;
  background-color: white;
  outline: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.btn:focus {
  box-shadow: 0 0 0 2px var(--cr-focus);
}

.btn:disabled {
  background-color: var(--cr-font);
  border-color: var(--cr-font);
  color: white;
  cursor: default;
  pointer-events: none;
  opacity: .6;
}

.primary {
  composes: btn;

  color: var(--cr-primary);
  border-color: var(--cr-primary);
}

.primary:hover {
  background-color: var(--cr-primary);
  color: #FFF;
}

.extra {
  composes: btn;

  color: #FFF;
  background-color: rgba(0, 0, 0, .8);
  border-color: transparent;
}

.extra:hover {
  background-color: var(--cr-font);
}
