@import "../../styles/vars.css";

.btn {
  font-size: 1em;
  padding: 0.3em 1.3em;
  border-radius: 50px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.btn:disabled {
  background-color: $color-font;
  border-color: $color-font;
  color: #fff;
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
}

.btn:focus:not(:hover) {
  box-shadow: 0 0 0 2px $color-focus;
}

.primary {
  composes: btn;
  position: relative;
  overflow: hidden;
  color: #fff;
  border-color: #3899ec;
  background-color: #3899ec;
}

.primary:hover {
  border-color: #5babef;
  background-color: #5babef;
}

.primary::after {
  content: "";
  background-color: #d3edff;
  display: block;
  position: absolute;
  padding-top: 120%;
  padding-left: 120%;
  margin-left: -20px !important;
  opacity: 0;
  transition: all 0.6s;
  border-radius: 6px;
}

.primary:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
