.box {
  display: grid;
  grid-gap: 0;
  grid-auto-rows: minmax(var(--min-column-width), auto);
  grid-template-columns: minmax(500px, auto) minmax(300px, 550px);
  padding: 0;
}

.column {
  height: var(--body-height);
  background-color: var(--cr-background);
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

.left {
  composes: column;
  padding: 0 0 0 0.5em;
  grid-column: 1;
  min-width: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.right {
  composes: column;
  grid-column: 2;
  min-width: 300px;
  max-width: 550px;
}

@media (max-width: 760px) {
  .box {
    display: flex;
    position: relative;
  }

  .left,
  .right {
    min-width: 100%;
  }
}
