@import url("../../styles/vars.css");

.box {
  resize: vertical;
  height: auto;
  width: 100%;
  min-height: 50vh;
  overflow-y: scroll;
  outline: none;
  border: $decorate-border;
  border-radius: 8px;
  padding: 1em;
}
