.bar {
  font-family: var(--fn-mono);
  color: var(--cr-font);
  font-size: 13px;
  line-height: 16px;
  background-color: #fff;
  user-select: none;
  white-space: nowrap;
  border-radius: 8px;
}

.root {
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  display: flex;
  background-color: #f0f3f5;
  padding: 0 5px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #d9e1e8;
}

.list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.sublist {
  list-style: none;
  padding: 0;
  margin: 0 0 0 15px;
}

.node {
  display: flex;
  align-items: center;
  padding: 1px;
}

.invalid {
  color: var(--cr-danger);
}

.root::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4'%3E%3Cpath fill='%237a92a5' d='M0 0l4 4 4-4z'/%3E%3C/svg%3E");
  margin: 0 6px;
}

.blank::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%232b5672' d='M11.67 3H7.5A2.5 2.5 0 0 0 5 5.5v9A2.5 2.5 0 0 0 7.5 17h6a2.5 2.5 0 0 0 2.5-2.5V7.33L11.67 3zM12 4.75L14.25 7H12.5a.5.5 0 0 1-.5-.5V4.75zM13.5 16h-6A1.5 1.5 0 0 1 6 14.5v-9A1.5 1.5 0 0 1 7.5 4H11v2.5A1.5 1.5 0 0 0 12.5 8H15v6.5a1.5 1.5 0 0 1-1.5 1.5z'/%3E%3C/svg%3E");
  margin: 0 6px;
}

.js::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%23de9c03' d='M7.99 6.104c-.076 0-.113.038-.113.112v5.844c0 .297-.084.541-.25.73a.831.831 0 0 1-.654.284.828.828 0 0 1-.65-.284c-.169-.189-.252-.433-.252-.73v-.904c0-.074-.038-.112-.112-.112h-.848c-.074 0-.11.038-.11.112v.881c0 .588.18 1.062.54 1.422.36.361.838.541 1.432.541.596 0 1.073-.18 1.433-.541.361-.36.542-.834.542-1.422V6.216c0-.074-.037-.112-.112-.112H7.99zm5.826 4.946a2.346 2.346 0 0 0-.524-.686c-.227-.208-.564-.48-1.01-.814-.468-.342-.784-.615-.948-.82a1.168 1.168 0 0 1-.245-.753c0-.327.082-.58.245-.763a.814.814 0 0 1 .636-.274c.275 0 .498.103.67.307.17.205.256.474.256.808v.302c0 .074.037.111.111.111h.826c.073 0 .111-.037.111-.11v-.28c0-.617-.18-1.115-.54-1.495-.36-.379-.839-.569-1.434-.569-.572 0-1.037.177-1.394.53-.357.354-.535.832-.535 1.433 0 .38.074.711.223.993.15.283.331.524.546.725.216.201.513.442.893.725.341.253.59.444.741.574.152.131.275.278.368.441.093.163.14.353.14.57 0 .318-.088.577-.263.774a.847.847 0 0 1-.663.295.817.817 0 0 1-.658-.307c-.17-.204-.257-.477-.257-.819v-.234c0-.075-.037-.112-.11-.112h-.827c-.074 0-.11.037-.11.112v.29c0 .594.18 1.076.54 1.444.36.368.834.552 1.422.552.587 0 1.063-.188 1.428-.563.363-.376.546-.876.546-1.5 0-.342-.06-.638-.184-.887'/%3E%3C/svg%3E");
  margin: 0 6px;
}

.jsw::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%2306a2ad' d='M4.763 6.09c-.075 0-.112.037-.112.111v5.86c0 .3-.084.543-.252.733a.832.832 0 0 1-.654.285.832.832 0 0 1-.654-.285c-.168-.19-.251-.434-.251-.733v-.905c0-.075-.038-.112-.113-.112h-.85c-.074 0-.112.037-.112.112v.884c0 .59.18 1.064.543 1.425.362.362.84.542 1.437.542.597 0 1.076-.18 1.437-.542.362-.36.543-.836.543-1.425V6.201c0-.074-.037-.112-.112-.112h-.85zm5.318 4.272a14.59 14.59 0 0 0-1.012-.816c-.47-.344-.787-.618-.95-.822a1.173 1.173 0 0 1-.247-.755c0-.33.082-.584.246-.767a.818.818 0 0 1 .637-.274c.276 0 .5.103.672.309.171.204.257.474.257.81v.302c0 .075.037.112.111.112h.828c.075 0 .112-.037.112-.112v-.28c0-.618-.18-1.118-.542-1.498C9.831 6.19 9.353 6 8.755 6c-.573 0-1.04.178-1.398.53-.358.356-.536.834-.536 1.439 0 .38.074.712.223.995.15.284.332.525.548.727.217.2.515.443.895.727.343.254.591.445.744.575.152.132.275.279.37.442.092.165.14.355.14.57 0 .322-.089.58-.264.779a.854.854 0 0 1-.666.296.82.82 0 0 1-.659-.308c-.172-.205-.258-.48-.258-.821v-.235c0-.075-.037-.113-.112-.113h-.827c-.075 0-.112.038-.112.113v.29c0 .597.181 1.08.543 1.449.361.368.836.553 1.425.553.59 0 1.067-.188 1.432-.565.365-.376.548-.878.548-1.504 0-.343-.06-.64-.185-.89a2.327 2.327 0 0 0-.525-.687M18 6.123c-.019-.023-.047-.034-.084-.034h-.873c-.059 0-.096.034-.111.101l-.828 5.245c-.008.016-.015.023-.022.023-.008 0-.015-.007-.023-.023l-.861-5.245c-.007-.067-.044-.101-.112-.101h-.749c-.067 0-.104.034-.112.101l-.805 5.245c-.007.016-.015.023-.022.023-.008 0-.015-.007-.023-.023l-.906-5.245c-.007-.067-.048-.101-.123-.101h-.884c-.066 0-.1.034-.1.101v.022l1.488 7.606c.015.067.056.1.123.1h.794c.066 0 .104-.033.112-.1l.805-5.29c0-.015.005-.023.016-.023.012 0 .021.008.029.023l.85 5.29c.014.067.052.1.111.1h.795c.074 0 .115-.033.122-.1l1.41-7.606c.007-.036.001-.066-.017-.089'/%3E%3C/svg%3E");
  margin: 0 6px;
}

.dir::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%232b5672'%3E%3Cpath d='M16.964 10.68s-1.412 2.825-2.021 4.378c-.233.597-.377.942-.999.942h-10a.973.973 0 0 1-.34-.059l2.56-5.62a.5.5 0 0 1 .47-.321H16.494c.17 0 .32.08.41.22.09.13.12.3.06.46zM3 6c0-.549.394-1 .944-1h2C6.494 5 7 5.451 7 6v1h6.944C14.494 7 15 7.451 15 8v1H6.634c-.62 0-1.151.39-1.372.96L3 14.861V6zm14.724 3.651c-.28-.41-.74-.651-1.23-.651H16V8c0-1.099-.956-2-2.056-2h-6c0-1.099-.9-2-2-2h-2C2.844 4 2 4.901 2 6v9c0 1.1.844 2 1.944 2h10c.51 0 .905-.141 1.32-.509.415-.369.484-.717.68-1.212.678-1.715 1.96-4.248 1.96-4.248.18-.46.1-.981-.18-1.38z'/%3E%3C/svg%3E");
  margin: 0 6px;
}
