@import url("./vars.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: madefor;
  font-display: swap;
  font-weight: 400 800;
  font-style: normal;
  src:
    url("https://static.parastorage.com/unpkg/@wix/wix-fonts@1.12.0/media/WixMadeforTextVF_W_Wght.8022447a.woff2")
    format("woff2");
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: $color-gray;
  border-radius: 25px;
}

::placeholder {
  color: $color-light;
  user-select: none;
}

::selection {
  background-color: #d3edff;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color: $color-font;
  padding: 0;
  margin: 0;
  scrollbar-color: $color-gray transparent;
  scrollbar-width: thin;
  background-color: $color-background;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

html,
button,
input,
select,
option {
  font-family: $font-helvetica;
}

a {
  text-decoration: none;
}

select {
  appearance: none;
}

pre,
code,
textarea {
  font-family: $font-mono;
  font-weight: normal;
  font-size: 12px;
  font-feature-settings: "liga" 0, "calt" 0;
  line-height: 18px;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

:global(#app) {
  overflow-x: hidden;
  min-height: 100vh;
}

@media (max-width: $mobile-width) {
  body {
    overflow-y: auto;
  }
}
