@import "./vars.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 400 800;
  font-style: normal;
  src:
    url('https://static.parastorage.com/unpkg/@wix/wix-fonts@1.9.3/media/WixMadeforTextVF_W_Wght.9b7def89.woff2')
    format('woff2');
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: $color-gray;
  border-radius: 25px;
}

::placeholder {
  color: $color-light;
  user-select: none;
}

::selection {
  background-color: #d3edff;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $color-font;
  padding: 0;
  margin: 0;
  scrollbar-color: $color-gray transparent;
  scrollbar-width: thin;
  background-color: $color-background;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

html,
button,
input,
select,
option {
  font-family: $font-helvetica;
}

select {
  appearance: none;
  text-align: center;
  background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23297abf'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E")
    no-repeat
    right
    8px
    bottom;
}

:global(#root) {
  height: $body-height;
}

@media (max-width: $mobile-width) {
  body {
    overflow-y: auto;
  }

  :global(#root) {
    height: auto;
  }
}
