$font-helvetica: 'helveticaneuew10-55roman', 'helvetica neue', helvetica, arial, sans-serif;
$font-mono: menlo, 'roboto mono', 'ubuntu mono', monaco, 'courier new', courier, monospace;
$color-font: #2b5672;
$color-extra: #aa4dc8;
$color-success: #428359;
$color-primary: #297abf;
$color-danger: #ee5951;
$color-background: #f0f3f5;
$color-focus: #aabdfc;
$color-light: #657888;
$color-gray: #898989;
$header-height: 70px;
$body-height: calc(100vh - $header-height);
$mobile-width: 750px;
