.message {
  padding: 50px 0;
  font-size: 14px;
}

.box {
  white-space: break-spaces;
  overflow: hidden;
  padding: 16px;
  border-radius: 8px;
}

.error {
  composes: box;
  border: 1px solid #8a342f;
  color: #8a342f;
  background-color: #ffebeb;
}

.success {
  composes: box;
  border: 1px solid var(--cr-success);
  color: var(--cr-success);
  background-color: #e0fee0;
}
