.message {
  margin: 1em 0;
}

.box {
  font-size: 14px;
  white-space: break-spaces;
  overflow: hidden;
  padding: 1em;
  margin: 0;
  border-radius: 8px;
}

.error {
  composes: box;
  border: 1px solid #8a342f;
  color: #8a342f;
  background-color: #ffebeb;
}

.success {
  composes: box;
  border: 1px solid var(--cr-success);
  color: var(--cr-success);
  background-color: #e0fee0;
}
