@font-face {
  font-family: 'icons';
  src: url('./icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
}

.info {
  composes: icon;
}

.copy {
  composes: icon;
}

.bin {
  composes: icon;
}

.clip {
  composes: icon;
}

.add {
  composes: icon;
}

.info:before {
  content: "\e902";
}

.copy:before {
  content: "\e92c";
}

.bin:before {
  content: "\e9ac";
}

.clip:before {
  content: "\e9cd";
}

.add:before {
  content: "\e900";
}
