.box {
  position: relative;
}

.out {
  width: 100%;
  min-height: var(--body-height);
  max-height: var(--body-height);
  margin: 0;
  padding: 1em;
  overflow: scroll;
  resize: none;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: var(--cr-success);
  background-color: #000;
  white-space: pre;
}

.out::selection {
  background-color: var(--cr-focus);
  color: white;
}

.copy {
  position: absolute;
  top: 1em;
  right: 1em;
}
