/* ::selection {} */

.box {
  position: relative;
}

.out {
  width: 100%;
  min-height: var(--body-height);
  max-height: var(--body-height);
  margin: 0;
  padding: 15px;
  overflow: scroll;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.1em;
  font-family: monospace;
  font-weight: bold;
  color: var(--cr-success);
  background-color: white;
}

.copy {
  position: absolute;
  top: 15px;
  right: 15px;
}
