@import url("../../styles/vars.css");

.btn {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 50%;
}

.btn:hover,
.btn:focus {
  color: $color-success;
  border-color: $color-success;
}
