.location {
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
}

.block {
  position: relative;
}

.title {
  position: absolute;
  bottom: 10px;
  font-size: 80%;
  width: 200px;
  color: var(--cr-light);
}

.inputs {
  font-size: 1em;
  border: 1px solid var(--cr-primary);
  padding: 3px 10px;
  border-radius: 4px;
  outline: none;
}

.inputs:focus {
  box-shadow: 0 0 0 2px var(--cr-focus);
}

.funcInput {
  composes: inputs;

  width: calc(50% - 7px);
}

.funcInput:invalid {
  border-color: var(--cr-danger);
}

.description {
  composes: inputs;

  width: 100%;
  margin: 10px 0;
}

.dot {
  display: inline-block;
  width: 14px;
  text-align: center;
}
