.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
}

.item {
  max-width: 700px;
  min-width: 450px;
  padding: 1.1em .5em;
  margin: 0 auto 1.5em auto;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
  position: relative;
  transition: transform .2s ease-out, box-shadow .2s ease-out;
  z-index: 1;
}

.item:hover {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .16);
  z-index: 2
}

.fields {
  border: none;
  padding: 0 1em;
  margin: 0;
}

.buttons {
  display: block;
  position: absolute;
  right: 1em;
  bottom: .4em;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  border-radius: 50px;
  width: 2em;
  height: 2em;
  transition: all .2s ease-in-out;
}

.btn:focus {
  box-shadow: 0 0 0 2px var(--cr-focus);
}

.btn:hover {
  background-color: rgba(0, 0, 0, .08);
  border: 1px solid rgba(0, 0, 0, .16);
}

.btnRemove {
  composes: btn;

  color: var(--cr-danger);
}

.btnClone {
  composes: btn;

  color: var(--cr-primary);
}

.title {
  color: var(--cr-primary);
}

.checkbox {
  margin: 0 .3em 0 0;
}

.checkbox:checked + .title {
  color: var(--cr-success);
}

.location {
  height: 3.5em;
  line-height: 3.5em;
  white-space: nowrap;
}

.block {
  position: relative;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  margin: 0 .3em 0 0;
}

.text {
  position: absolute;
  top: -1.8em;
  font-size: 80%;
  width: 200px;
  color: var(--cr-light);
  user-select: none;
  line-height: 1;
  pointer-events: none;
}

.inputs {
  font-size: 1em;
  border: 1px solid var(--cr-primary);
  padding: .2em .6em;
  border-radius: 6px;
  outline: none;
}

.inputs:focus {
  box-shadow: 0 0 0 2px var(--cr-focus);
}

.funcInput {
  composes: inputs;

  width: calc(50% - 8px);
}

.funcInput:invalid {
  border-color: var(--cr-danger);
}

.date {
  composes: inputs;

  margin-right: .5em;
  width: 6em;
  text-align: center;
}

.description {
  composes: inputs;

  width: 100%;
}

.dot {
  display: inline-block;
  width: 1em;
  font-size: 16px;
  text-align: center;
  user-select: none;
}
