.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
}

.item {
  max-width: 700px;
  min-width: 450px;
  padding: 10px;
  margin: 15px auto;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  position: relative;
}

.fields {
  border: none;
  padding: 0;
  margin: 0;
}

.buttons {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
