.overlay {
  background-color: rgb(22 45 61 / 66%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.bodyOpen,
.rootOpen {
  overflow: hidden;
}

.modal {
  outline: none;
  border-radius: 8px;
  max-height: 100%;
}
