@import url("../../styles/vars.css");

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: $decorate-border;
  border-bottom: $decorate-border;
  background-color: #eaf8ff;
  height: $swu-h;
}

.link {
  composes: link from './styles.css';
  display: flex;
  gap: 1em;
}
