.header {
  height: var(--header-height);
  padding: 0 25px;
}

.link {
  color: var(--cr-font);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  line-height: var(--header-height);
  user-select: none;
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--cr-primary);
}
