@import url("../../styles/vars.css");

:global(#header) {
  height: $header-height;
  border-bottom: $decorate-border;
  background-color: #fff;
}

.header {
  height: calc($header-height - $swu-h);
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex;
}

.title {
  font-size: 20px;
  list-style: none;
  padding-left: 15px;
  color: $color-font;
  user-select: none;
  white-space: nowrap;
}

.nav {
  margin: 0;
  display: flex;
  align-items: center;
}

.git {
  composes: nav;
  gap: 10px;
}

.list {
  font-size: 16px;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
  display: flex;
  padding: 0;
  margin-right: 10px;
}

.item {
  list-style: none;
  padding-left: 15px;
}

.link {
  color: $color-primary;
  position: relative;
  outline: none;
  white-space: nowrap;
}

.link:hover,
.active {
  color: $color-success;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: $mobile-width) {
  .git {
    display: none;
  }
}
