.header {
  height: var(--header-height);
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6c1cd;
}

.banner {
  display: flex;
}

.title {
  font-size: 20px;
  list-style: none;
  padding-left: 15px;
  color: var(--cr-font);
  user-select: none;
  white-space: nowrap;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

.list {
  font-size: 16px;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
  display: flex;
  padding: 0;
  margin-right: 10px;
}

.item {
  list-style: none;
  padding-left: 15px;
}

.link {
  color: var(--cr-primary);
  text-decoration: none;
  position: relative;
  outline: none;
  white-space: nowrap;
}

.link:hover {
  color: var(--cr-success);
}

.active {
  color: var(--cr-success);
}

.active:hover {
  color: var(--cr-success);
}
