@import "../../styles/vars.css";

:global(#header) {
  height: $header-height;
  border-bottom: 1px solid #b6c1cd;
}

.header {
  height: $header-height;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  display: flex;
}

.title {
  font-size: 20px;
  list-style: none;
  padding-left: 15px;
  color: $color-font;
  user-select: none;
  white-space: nowrap;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.list {
  font-size: 16px;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
  display: flex;
  padding: 0;
  margin-right: 10px;
}

.item {
  list-style: none;
  padding-left: 15px;
}

.link {
  color: $color-primary;
  text-decoration: none;
  position: relative;
  outline: none;
  white-space: nowrap;
}

.link:hover {
  color: $color-success;
}

.active {
  color: $color-success;
}

.active:hover {
  color: $color-success;
}
