@import "../../styles/vars.css";

.page {
  display: grid;
  height: $body-height;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  overflow-x: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 1em 0;
}

.box {
  width: 750px;
}

.form {
  width: 100%;
  position: relative;
}

.area {
  resize: vertical;
  height: auto;
  width: 100%;
  min-height: 50vh;
  overflow-y: scroll;
  outline: none;
  border: $decorate-border;
  border-radius: 8px;
  padding: 1em;
}

.tools {
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: grid;
  gap: 5px;
  flex-direction: column;
  background-color: #fff;
}

.btn {
  color: $color-primary;
}

.btn:hover,
.btn:focus {
  color: $color-success;
}

@media (max-width: $mobile-width) {
  .box {
    max-width: calc(100vw - 30px);
  }
}
