.code {
  font-family: var(--font-mono);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  white-space: pre;
  position: relative;
  padding: 15px 15px 15px 20px;
  cursor: text;
  background-color: var(--cr-background);
  border-radius: 8px;
}

.field {
  padding-left: 15px;
  border-left: 1px solid #CACCCE;
}

.cm {
  color: var(--cr-light);
  border-left: 1px solid #CACCCE;
}

.op {
  color: var(--cr-primary);
  font-weight: bold;
}

.fn {
  color: var(--cr-extra);
  font-weight: 700;
}

.err {
  background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 3' fill='%23d60a0a' height='3' width='6'%3E%3Cpolygon points='5.5,0 2.5,3 1.1,3 4.1,0'/%3E%3Cpolygon points='4,0 6,2 6,0.6 5.4,0'/%3E%3Cpolygon points='0,2 1,3 2.4,3 0,0.6'/%3E%3C/svg%3E")
    repeat-x bottom left;
}

.err::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--cr-danger);
  position: absolute;
  top: 21px;
  left: 8px;
}
