@import url("../../styles/vars.css");

.fs {
  background-color: #fff;
  margin: 6px;
  position: absolute;
  z-index: 9999;
  cursor: default;
  border-radius: 8px;
  animation: 0.5s fade-in;
  box-shadow: 0 0 14px 0 rgb(22 45 61 / 36%);
}

.editor {
  font-family: $font-mono;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  white-space: pre;
  position: relative;
  padding: 15px 15px 15px 20px;
  cursor: text;
  background-color: $color-background;
  border-radius: 8px;
}

.field {
  padding-left: 15px;
  border-left: 1px solid #caccce;
  display: block;
  user-select: all;
}

/* global styles */

:global(.react-hint) {
  padding: 5px;
  position: absolute;
  z-index: 9999;
  cursor: default;
  animation: 0.5s fade-in;
}

:global(.react-hint__content) {
  padding: 10px;
  border-radius: 5px;
  background: #000;
  color: #fff;
}

:global(.react-hint::after) {
  content: "";
  width: 0;
  height: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
}

:global(.react-hint--top::after) {
  top: auto;
  border-bottom: none;
  border-top-color: #000;
}

:global(.react-hint--left::after) {
  left: auto;
  border-right: none;
  border-left-color: #000;
}

:global(.react-hint--right::after) {
  right: auto;
  border-left: none;
  border-right-color: #000;
}

:global(.react-hint--bottom::after) {
  bottom: auto;
  border-top: none;
  border-bottom-color: #000;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
